<%= form_for(@sighting) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sighting_time %><br>
    <%= f.datetime_select :sighting_time %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :animal_id %><br>
    <%= select(:sighting, :animal_id, @animals_for_select) %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= select(:sighting, :region, @regions_for_select) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
